---
layout: base
---
<style>
  @font-face {
    font-family: 'Crimson Pro';
    src: url('/assets/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: regular;
  }
  .prose {
    font-family: 'Crimson Pro', serif;
    font-size: 19px;
  }
</style>

<div class="flex justify-center py-4 md:py-8">
  <article class="text-center prose md:prose-lg prose-p:font-normal prose-headings:font-light prose-slate dark:prose-invert">
  {{ content }}
  </article>
</div>
