---
layout: base
---
<style>
  @font-face {
    font-family: 'Open Sans';
    src: url('/assets/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 300 800;
    font-style: normal;
  }

  .prose, .prose p, .prose span, .prose li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    font-weight: 700;
  }

  .prose img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
</style>

