---
layout: base
---
<style>
  @font-face {
    font-family: 'Open Sans';
    src: url('/assets/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 300 800;
    font-style: normal;
  }
  .prose {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
</style>

<div class="flex justify-center py-4 md:py-8">
  <article class="text-center prose md:prose-lg prose-p:font-medium prose-headings:font-bold prose-slate dark:prose-invert">
  {{ content }}
  </article>
</div>
